.mapContainer {
    position: relative;
}

.playerNameLabel {
    position: absolute;
    color: white;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
    font-size: 12px;
}

#assignMapHsBtn {
    width: 100%;
}

#assignMapRegularBtn {
    width: 100%;
}